<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recommendations.books">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_elitereads"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_elitereads_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EliteReads">
        <activity
            android:name="com.recommendations.books.ui.activities.ExploredRecommendersActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ExploredBooksActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.AppUserFeedbackActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.AppRatingActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.AudioSummaryActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewAllRecommendersActivity"
            android:exported="false"
            />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewBookDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.BookDownloadWebViewActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.BookTextSummaryActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewRecommenderActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.VideoSummaryActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewAllInvestmentBooksActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewAllBiographyBooksActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewAllTechBooksActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.ViewAllMostRecommendedBooksActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="com.recommendations.books.ui.activities.AdvertisementActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.SignUpWithEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.recommendations.books.ui.activities.SplashscreenActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>